.version.client_admin_setup /* version checker */
{
	color: #0000FE;
	background-color: #7666F5;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 799px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#u91
{
	z-index: 2;
	width: 285px;
	padding-bottom: 747px;
	margin-right: -10000px;
}

#u99
{
	z-index: 4;
	width: 106px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 86px;
}

#u92
{
	z-index: 3;
	width: 995px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 285px;
}

#pu105
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 791px;
}

#u105
{
	z-index: 6;
	width: 50px;
	height: 50px;
	margin-left: 16px;
}

#u127-4
{
	z-index: 9;
	width: 87px;
	min-height: 18px;
	margin-top: 1px;
}

#pu123
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 905px;
}

#u123
{
	z-index: 7;
	width: 35px;
	margin-left: 5px;
}

#u129-4
{
	z-index: 13;
	width: 44px;
	min-height: 17px;
	margin-top: 10px;
}

#u401
{
	z-index: 17;
	width: 285px;
	margin-right: -10000px;
	margin-top: 805px;
}

#u408
{
	z-index: 18;
	width: 285px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#pu405-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 23px;
}

#u405-4
{
	z-index: 19;
	width: 84px;
	min-height: 12px;
}

#u406-4
{
	z-index: 35;
	width: 54px;
	min-height: 12px;
	margin-top: 3px;
}

#u403-4
{
	z-index: 27;
	width: 32px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 195px;
}

#u402-4
{
	z-index: 31;
	width: 29px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u407-4
{
	z-index: 23;
	width: 82px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 106px;
}

#u404-4
{
	z-index: 39;
	width: 82px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 77px;
}

#u704
{
	z-index: 43;
	width: 287px;
	min-height: 425px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
}

#u707
{
	z-index: 44;
	width: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 955px;
}

#u736
{
	z-index: 45;
	width: 317px;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u709
{
	z-index: 46;
	width: 305px;
	background-color: #FFFFFF;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u710
{
	z-index: 47;
	width: 305px;
	background-color: #E5E5E5;
	padding-bottom: 13px;
	position: relative;
}

#u735-4
{
	z-index: 49;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 51px;
}

#u711
{
	z-index: 65;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 48px;
	position: relative;
}

#u715
{
	z-index: 66;
	width: 258px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	border-bottom:1px solid #55C0DA;
}

#u712
{
	z-index: 67;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	background: transparent url("../images/srvcasset_update.png") no-repeat center center;
	background-size: contain;
}

#u716
{
	z-index: 68;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u713-4
{
	z-index: 69;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u717
{
	z-index: 73;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 228px;
}

#u714-4
{
	z-index: 74;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u725
{
	z-index: 78;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 12px;
	position: relative;
	border-bottom:1px solid #55C0DA;
}

#u730
{
	z-index: 79;
	width: 258px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u728
{
	z-index: 80;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: transparent url("../images/srvcasset_upload-u184-fr.png") no-repeat center center;
	background-size: contain;
}

#u729
{
	z-index: 81;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u726-4
{
	z-index: 82;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u727
{
	z-index: 86;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u731-4
{
	z-index: 87;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u718
{
	z-index: 104;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 16px;
	position: relative;
	border-bottom:1px solid #55C0DA;
}

#u719-4
{
	z-index: 105;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u720
{
	z-index: 109;
	width: 258px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u724
{
	z-index: 110;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	background: transparent url("../images/srvcasset_addagent-u192-fr.png") no-repeat center center;
	background-size: contain;
}

#u723
{
	z-index: 111;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u721-4
{
	z-index: 112;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u722
{
	z-index: 116;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u737
{
	z-index: 91;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 14px;
	position: relative;
	border-bottom:1px solid #55C0DA;
}

#u740
{
	z-index: 92;
	width: 258px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u738
{
	z-index: 93;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	background: transparent url("../images/srvcasset_addtemplate-u191-fr.png") no-repeat center center;
	background-size: contain;
}

#u743
{
	z-index: 94;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u741-4
{
	z-index: 95;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u742
{
	z-index: 99;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u739-4
{
	z-index: 100;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u708
{
	z-index: 48;
	width: 305px;
	background-color: #E5E5E5;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 7px;
}

#u744
{
	z-index: 53;
	width: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 52px;
	
}

#u746
{
	z-index: 54;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-right: 1px solid #b3b3b3;
}

#u745-4
{
	z-index: 55;
	width: 96px;
	min-height: 12px;
	background-color: transparent;
	font-size: 15px;
	color: #A0A0A0;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u732
{
	z-index: 59;
	width: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 155px;
}

#u734
{
	z-index: 60;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u733-4
{
	z-index: 61;
	width: 96px;
	min-height: 12px;
	background-color: transparent;
	font-size: 15px;
	text-align: right;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u747
{
	z-index: 117;
	width: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 955px;
}

#u750
{
	z-index: 118;
	width: 317px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u749
{
	z-index: 119;
	width: 305px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u749_position_content
{
	padding-bottom: 20px;
}

#u751
{
	z-index: 120;
	width: 305px;
	background-color: #E5E5E5;
	padding-bottom: 8px;
	position: relative;
}

#u755
{
	z-index: 121;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 21px;
	background: transparent url("../images/srvcasset_reports-u257-fr.png") no-repeat center center;
	background-size: cover;
}

#u748-4
{
	z-index: 122;
	width: 80px;
	min-height: 21px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#u754
{
	z-index: 126;
	width: 285px;
	height: 70px;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
	border-bottom:1px solid #55C0DA;
}

#u752
{
	z-index: 127;
	width: 285px;
	height: 70px;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
	border-bottom:1px solid #55C0DA;
}

#u753
{
	z-index: 128;
	width: 285px;
	height: 70px;
	margin-left: 11px;
	margin-top: 5px;
	position: relative;
	border-bottom:1px solid #55C0DA;
}

#u756
{
	z-index: 129;
	width: 647px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 302px;
}

#u759
{
	z-index: 130;
	width: 647px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u763
{
	z-index: 131;
	width: 635px;
	background-color: #FFFFFF;
	padding-bottom: 5.000000000001364px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u758
{
	z-index: 132;
	width: 635px;
	background-color: #E5E5E5;
	padding-bottom: 9px;
	position: relative;
}

#u761
{
	z-index: 134;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 19px;
	background: transparent url("../images/srvcasset_settingsbox.png") no-repeat left top;
	background-size: contain;
}

#u757-4
{
	z-index: 135;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 55px;
}

#u757
{
	font-size: 15px;
}

#u760
{
	z-index: 139;
	width: 626px;
	height: 518px;
	margin-left: 3px;
	margin-top: 38px;
	position: relative;
}

.ie #u722,.ie #u754,.ie #u752,.ie #u753,.ie #u760
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u762
{
	z-index: 133;
	width: 635px;
	height: 36px;
	background-color: #E5E5E5;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 6px;
}

#u829
{
	z-index: 140;
	width: 355px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 450px;
}

#u832
{
	z-index: 141;
	width: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-right: 1px solid #b3b3b3;
}

#u830-4
{
	z-index: 143;
	width: 170px;
	min-height: 20px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u833
{
	z-index: 142;
	width: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u831-4
{
	z-index: 147;
	width: 170px;
	min-height: 20px;
	background-color: transparent;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u884
{
	z-index: 151;
	width: 24px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 336px;
}

#u886
{
	z-index: 152;
	width: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 321px;
}

#pu862-4
{
	width: 0.01px;
}

#u862-4
{
	z-index: 153;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u843
{
	z-index: 177;
	width: 100px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u879-4
{
	z-index: 183;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 315px;
}

#u880
{
	z-index: 207;
	width: 181px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#pu866-4
{
	width: 0.01px;
	margin-top: 42px;
}

#u866-4
{
	z-index: 173;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u845
{
	z-index: 178;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u863-4
{
	z-index: 203;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 315px;
}

#u854
{
	z-index: 208;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#u861-4
{
	z-index: 169;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u874
{
	z-index: 180;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u842-4
{
	z-index: 199;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 315px;
}

#u882
{
	z-index: 214;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#u853-4
{
	z-index: 165;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u840
{
	z-index: 179;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u858-4
{
	z-index: 195;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 315px;
}

#u851
{
	z-index: 209;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#pu867-4
{
	width: 0.01px;
	margin-top: 38px;
}

#u867-4
{
	z-index: 161;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u856
{
	z-index: 181;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u850-4
{
	z-index: 191;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 315px;
}

#u848
{
	z-index: 210;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#pu861-4,#pu853-4,#pu876-4
{
	width: 0.01px;
	margin-top: 37px;
}

#u876-4
{
	z-index: 157;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u859
{
	z-index: 182;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u847-4
{
	z-index: 187;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 315px;
}

#u862,#u879,#u866,#u863,#u861,#u842,#u876,#u847
{
	font-size: 13px;
}

#u872
{
	z-index: 211;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#pu877
{
	width: 0.01px;
	margin-left: 437px;
	margin-top: 94px;
}

#u877
{
	z-index: 212;
	width: 77px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u870
{
	z-index: 213;
	width: 67px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}
#pu906-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u906-4
{
	z-index: 153;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
}

#u907-4
{
	z-index: 157;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	margin-top: 44px;
	position: relative;
}

#pu908
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 108px;
}

#u908
{
	z-index: 161;
	width: 100px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u918
{
	z-index: 173;
	width: 112px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 42px;
	position: relative;
}

#u919
{
	z-index: 174;
	width: 96px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u921
{
	z-index: 175;
	width: 17px;
	height: 17px;
	border:1px solid #747474;
	position: relative;
	margin-right: -10000px;
	left: 95px;
	background: transparent url("../images/img1.png") no-repeat left top;
	background-size: cover;
}

#pu910-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 315px;
}

#u910-4
{
	z-index: 162;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
}

#u911-4
{
	z-index: 166;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	margin-top: 44px;
	position: relative;
}

#u906,#u907,#u910,#u911
{
	font-size: 13px;
}

#pu912
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 423px;
}

#u912
{
	z-index: 170;
	width: 181px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u922
{
	z-index: 176;
	width: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 42px;
	position: relative;
}

#u923
{
	z-index: 177;
	width: 100px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u925
{
	z-index: 178;
	width: 17px;
	height: 17px;
	border:1px solid #747474;
	position: relative;
	margin-right: -10000px;
	left: 96px;
	background: transparent url("../images/img1.png") no-repeat left top;
	background-size: cover;
}

#pu914
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 334px;
}

#u914
{
	z-index: 171;
	width: 77px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u916
{
	z-index: 172;
	width: 67px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

body
{
	position: relative;
	min-width: 1280px;
}

