.version.forgot_password /* version checker */
{
	color: #000002;
	background-color: #E651B8;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u622
{
	z-index: 2;
	width: 285px;
	padding-bottom: 746px;
	margin-right: -10000px;
}

#u624
{
	z-index: 4;
	width: 106px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 86px;
}

#pu623
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 285px;
}

#u623
{
	z-index: 3;
	width: 995px;
	height: 100px;
}

#pu1054
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 48px;
}

#u1054
{
	z-index: 6;
	width: 647px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1057
{
	z-index: 7;
	width: 647px;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1061
{
	z-index: 8;
	width: 635px;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u1056
{
	z-index: 9;
	width: 635px;
	background-color: #E5E5E5;
	padding-bottom: 8px;
	position: relative;
}

#u1059
{
	z-index: 11;
	width: 20px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
	background: transparent url("../images/srvcasset_activerole-u339-fr-u1059-fr.png") no-repeat left top;
	background-size: cover;
}

#u1055-4
{
	z-index: 12;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 55px;
}

#u1060
{
	z-index: 10;
	width: 635px;
	height: 33px;
	background-color: #E5E5E5;
	position: relative;
}

#u1058
{
	z-index: 16;
	width: 626px;
	height: 473px;
	margin-left: 3px;
	margin-top: 2px;
	position: relative;
}

.ie #u1058
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1068-4
{
	z-index: 17;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 26px;
}

#u1055,#u1068
{
	font-size: 15px;
}

#u1081
{
	z-index: 21;
	width: 15px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 307px;
}

#u1083
{
	z-index: 22;
	width: 425px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 19px;
}

#u1077-4
{
	z-index: 34;
	width: 425px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	position: relative;
}

#u1077
{
	font-size: 14px;
}

#pu1070-4
{
	width: 0.01px;
	margin-top: 41px;
}

#u1070-4
{
	z-index: 27;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1071
{
	z-index: 31;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u1069-4
{
	z-index: 23;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1073
{
	z-index: 32;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#pu1069-4,#pu1075
{
	width: 0.01px;
	margin-top: 38px;
}

#u1075
{
	z-index: 33;
	width: 67px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1079
{
	z-index: 42;
	width: 67px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u1078-4
{
	z-index: 38;
	width: 274px;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	color: #B3B3B3;
	line-height: 14px;
	margin-top: 29px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1280px;
}

