.version.reenter_password /* version checker */
{
	color: #000019;
	background-color: #97C674;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u622
{
	z-index: 2;
	width: 285px;
	padding-bottom: 746px;
	margin-right: -10000px;
}

#u624
{
	z-index: 4;
	width: 106px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 86px;
}

#pu623
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 285px;
}

#u623
{
	z-index: 3;
	width: 995px;
	height: 100px;
}

#pu1130
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 48px;
}

#u1130
{
	z-index: 6;
	width: 647px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1132
{
	z-index: 7;
	width: 647px;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1137
{
	z-index: 8;
	width: 635px;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u1131
{
	z-index: 9;
	width: 635px;
	background-color: #E5E5E5;
	padding-bottom: 9px;
	position: relative;
}

#u1133
{
	z-index: 11;
	width: 20px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
	background: transparent url("../images/srvcasset_activerole-u339-fr-u1059-fr.png") no-repeat left top;
	background-size: cover;
}

#u1136-4
{
	z-index: 12;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 55px;
}

#u1135
{
	z-index: 16;
	width: 626px;
	height: 477px;
	margin-left: 3px;
	margin-top: 35px;
	position: relative;
}

.ie #u1135
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1134
{
	z-index: 10;
	width: 635px;
	height: 33px;
	background-color: #E5E5E5;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 6px;
}

#u1138-4
{
	z-index: 17;
	width: 388px;
	min-height: 20px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 26px;
}

#u1136,#u1138
{
	font-size: 15px;
}

#u1139
{
	z-index: 21;
	width: 15px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 472px;
}

#u1147-4
{
	z-index: 22;
	width: 97px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 19px;
}

#u1148
{
	z-index: 26;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 138px;
}

#u1142
{
	z-index: 27;
	width: 67px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 19px;
}

#u1146-4
{
	z-index: 28;
	width: 425px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 19px;
}

#u1146
{
	font-size: 14px;
}

#u1144
{
	z-index: 32;
	width: 67px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 333px;
	left: 127px;
}

#u1150-4
{
	z-index: 33;
	width: 114px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 19px;
}

#u1151
{
	z-index: 37;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 138px;
}

#u1153
{
	z-index: 38;
	width: 187px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 19px;
}

#u1155-4
{
	z-index: 39;
	width: 172px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 369px;
}

#u1156-4
{
	z-index: 43;
	width: 172px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 369px;
}

#u1157-4
{
	z-index: 47;
	width: 172px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 369px;
}

#u1158-4
{
	z-index: 51;
	width: 172px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 369px;
}

#u1159-4
{
	z-index: 55;
	width: 172px;
	min-height: 18px;
	background-color: transparent;
	font-size: 12px;
	color: #A0A0A0;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 369px;
}

#u1160
{
	z-index: 59;
	width: 26px;
	height: 26px;
	background-color: #ED1C24;
	border-radius: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 325px;
}

#u1161-4
{
	z-index: 60;
	width: 172px;
	min-height: 18px;
	background-color: transparent;
	font-size: 13px;
	color: #000000;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 369px;
}

body
{
	position: relative;
	min-width: 1280px;
}

