.version.data_setup /* version checker */
{
	color: #000017;
	background-color: #E969CD;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 799px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#u91
{
	z-index: 2;
	width: 285px;
	padding-bottom: 747px;
	margin-right: -10000px;
}

#u99
{
	z-index: 4;
	width: 106px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 86px;
}

#u92
{
	z-index: 3;
	width: 995px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 285px;
}

#pu105
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 791px;
}

#u105
{
	z-index: 6;
	width: 50px;
	height: 50px;
	margin-left: 16px;
}

#u127-4
{
	z-index: 9;
	width: 87px;
	min-height: 18px;
	margin-top: 1px;
}

#pu123
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 905px;
}

#u123
{
	z-index: 7;
	width: 35px;
	margin-left: 5px;
}

#u129-4
{
	z-index: 13;
	width: 44px;
	min-height: 17px;
	margin-top: 10px;
}

#u401
{
	z-index: 17;
	width: 285px;
	margin-right: -10000px;
	margin-top: 805px;
}

#u408
{
	z-index: 18;
	width: 285px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#pu405-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 23px;
}

#u405-4
{
	z-index: 19;
	width: 84px;
	min-height: 12px;
}

#u406-4
{
	z-index: 35;
	width: 54px;
	min-height: 12px;
	margin-top: 3px;
}

#u403-4
{
	z-index: 27;
	width: 32px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 195px;
}

#u402-4
{
	z-index: 31;
	width: 29px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u407-4
{
	z-index: 23;
	width: 82px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 106px;
}

#u404-4
{
	z-index: 39;
	width: 82px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 77px;
}

#u1369
{
	z-index: 43;
	width: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 955px;
}

#u1410
{
	z-index: 44;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 27px;
	background: transparent url("../images/srvcasset_loginfo.png") no-repeat left top;
	background-size: contain;
}

#u1370
{
	z-index: 45;
	width: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1389
{
	z-index: 46;
	width: 317px;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1390
{
	z-index: 47;
	width: 305px;
	background-color: #FFFFFF;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1405
{
	z-index: 48;
	width: 305px;
	background-color: #E5E5E5;
	padding-bottom: 13px;
	position: relative;
}

#u1388-4
{
	z-index: 50;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 51px;
}

#u1398
{
	z-index: 66;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 48px;
	position: relative;
}

#u1403
{
	z-index: 67;
	width: 258px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	border-bottom: 1px solid #55C0DA;
}

#u1402
{
	z-index: 68;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	background: transparent url("../images/srvcasset_update.png") no-repeat center center;
	background-size: contain;
}

#u1401
{
	z-index: 69;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u1400-4
{
	z-index: 70;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1399
{
	z-index: 74;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 228px;
}

#u1404-4
{
	z-index: 75;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u1381
{
	z-index: 79;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 12px;
	position: relative;
	border-bottom: 1px solid #55C0DA;
}

#u1382
{
	z-index: 80;
	width: 258px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1385
{
	z-index: 81;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: transparent url("../images/srvcasset_upload-u184-fr.png") no-repeat center center;
	background-size: contain;
}

#u1384
{
	z-index: 82;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u1383-4
{
	z-index: 83;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1386
{
	z-index: 87;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u1387-4
{
	z-index: 88;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u1391
{
	z-index: 105;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 16px;
	position: relative;
	border-bottom: 1px solid #55C0DA;
}

#u1392-4
{
	z-index: 106;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u1395
{
	z-index: 110;
	width: 258px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u1394
{
	z-index: 111;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	background: transparent url("../images/srvcasset_addagent-u192-fr.png") no-repeat center center;
	background-size: contain;
}

#u1396
{
	z-index: 112;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u1397-4
{
	z-index: 113;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1393
{
	z-index: 117;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u1371
{
	z-index: 92;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 14px;
	position: relative;
	border-bottom: 1px solid #55C0DA;
}

#u1373
{
	z-index: 93;
	width: 258px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u1374
{
	z-index: 94;
	width: 25px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	background: transparent url("../images/srvcasset_addtemplate-u191-fr.png") no-repeat center center;
	background-size: contain;
}

#u1377
{
	z-index: 95;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 35px;
}

#u1372-4
{
	z-index: 96;
	width: 135px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1376
{
	z-index: 100;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 228px;
}

#u1375-4
{
	z-index: 101;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u1406
{
	z-index: 49;
	width: 305px;
	background-color: #E5E5E5;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 7px;
}

#u1378
{
	z-index: 54;
	width: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 52px;
}

#u1380
{
	z-index: 55;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1379-4
{
	z-index: 56;
	width: 96px;
	min-height: 12px;
	background-color: transparent;
	font-size: 15px;
	color: #A0A0A0;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	border-right: 1px solid #b3b3b3;
}

#u1407
{
	z-index: 60;
	width: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 155px;
}

#u1409
{
	z-index: 61;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1408-4
{
	z-index: 62;
	width: 96px;
	min-height: 12px;
	background-color: transparent;
	font-size: 15px;
	text-align: right;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1411
{
	z-index: 118;
	width: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 466px;
	left: 955px;
}

#u1414
{
	z-index: 119;
	width: 317px;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u1418
{
	z-index: 120;
	width: 305px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u1418_position_content
{
	padding-bottom: 20px;
}

#u1415
{
	z-index: 121;
	width: 305px;
	background-color: #E5E5E5;
	padding-bottom: 8px;
	position: relative;
}

#u1412
{
	z-index: 122;
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 21px;
	background: transparent url("../images/srvcasset_reports-u257-fr.png") no-repeat center center;
	background-size: cover;
}

#u1416-4
{
	z-index: 123;
	width: 80px;
	min-height: 21px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 56px;
}

#u1413
{
	z-index: 127;
	width: 285px;
	height: 70px;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
	border-bottom: 1px solid #55C0DA;
}

#u1417
{
	z-index: 128;
	width: 285px;
	height: 70px;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
	border-bottom: 1px solid #55C0DA;
}

#u1419
{
	z-index: 129;
	width: 285px;
	height: 70px;
	margin-left: 11px;
	margin-top: 5px;
	position: relative;
	border-bottom: 1px solid #55C0DA;
}

.ie #u1393,.ie #u1413,.ie #u1417,.ie #u1419
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1420
{
	z-index: 130;
	width: 647px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 302px;
}

#u1425
{
	z-index: 131;
	width: 647px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u1423
{
	z-index: 132;
	width: 635px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 561px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u1426
{
	z-index: 133;
	width: 635px;
	border-style: none;
	border-color: transparent;
	background-color: #E5E5E5;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u1422
{
	z-index: 134;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 19px;
	background: transparent url("../images/srvcasset_settingsbox.png") no-repeat left top;
	background-size: contain;
}

#u1424-4
{
	z-index: 135;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 55px;
}

#u1428
{
	z-index: 139;
	width: 287px;
	min-height: 444px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
}

#u1438
{
	z-index: 140;
	width: 23px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 619px;
}

#u1430
{
	z-index: 141;
	width: 598px;
	border-width: 1px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 320px;
}

#u1430_position_content
{
	margin-top: -1px;
	padding-bottom: 7px;
}

#u1431
{
	z-index: 142;
	width: 599px;
	background-color: #E5E5E5;
	padding-bottom: 7px;
	left: -1px;
	position: relative;
}

#u1433-4
{
	z-index: 143;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 37px;
}

#pu1434-4
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 13px;
}

#u1434-4
{
	z-index: 147;
	width: 138px;
	min-height: 19px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1459
{
	z-index: 169;
	width: 381px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#pu1437-4
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 41px;
}

#u1437-4
{
	z-index: 151;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1440
{
	z-index: 155;
	width: 300px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#pu1442
{
	width: 0.01px;
	margin-left: 194px;
	margin-top: 15px;
}

#u1442
{
	z-index: 156;
	width: 260px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1444
{
	z-index: 157;
	width: 87px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 274px;
}

#u1454
{
	z-index: 158;
	width: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 320px;
}

#u1446
{
	z-index: 159;
	width: 598px;
	border-width: 1px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1446_position_content
{
	margin-top: -1px;
	padding-bottom: 256px;
}

#u1447
{
	z-index: 160;
	width: 599px;
	background-color: #E5E5E5;
	padding-bottom: 7px;
	left: -1px;
	position: relative;
}

#u1448-4
{
	z-index: 161;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 37px;
}

#u1424,#u1433,#u1448
{
	font-size: 15px;
}

#u1449-4
{
	z-index: 165;
	width: 126px;
	min-height: 20px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	margin-left: 36px;
	margin-top: 19px;
	position: relative;
}

#u1434,#u1437,#u1449
{
	font-size: 13px;
}

body
{
	position: relative;
	min-width: 1280px;
}

