#u99
{
	background-color: #FFFFFF;
}

#u99_align_to_page
{
	position: relative;
}

#u103
{
	border-radius: 28px;
	position: relative;
	background: transparent url("images/img1.jpg") no-repeat left top;
	background-size: contain;
}

#u104
{
	position: relative;
	background: transparent url("images/alert.png") no-repeat left top;
	background-size: contain;
}

#u871
{
	background-color: #2EB7D2;
	border-radius: 7px;
	position: relative;
}

#u872-4
{
	background-color: transparent;
	line-height: 11px;
	color: #F9FFFB;
	font-size: 9px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u105
{
	position: relative;
	background: transparent url("images/logout.png") no-repeat left top;
	background-size: contain;
}

#u102-4,#u106-4,#u107-4,#u134-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#menuu141
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u152
{
	background-color: #FFFFFF;
	position: relative;
}

#u152:hover
{
	background-color: #2EB7D2;
}

#u153
{
	vertical-align: top;
	position: relative;
	background: url("images/u153.png") no-repeat 0px 0px;
}

#u152:hover #u153
{
	background: url("images/u153-r.png") no-repeat 0px 0px;
}

#u152.MuseMenuActive #u153
{
	background: url("images/u153-a.png") no-repeat 0px 0px;
}

#u145
{
	background-color: #FFFFFF;
	position: relative;
}

#u152.MuseMenuActive,#u145:hover
{
	background-color: #2EB7D2;
}

#u147
{
	vertical-align: top;
	position: relative;
	background: url("images/u147.png") no-repeat 0px 0px;
}

#u145:hover #u147
{
	background: url("images/u147-r.png") no-repeat 0px 0px;
}

#u145.MuseMenuActive #u147
{
	background: url("images/u147-a.png") no-repeat 0px 0px;
}

#u160
{
	background-color: #FFFFFF;
	position: relative;
}

#u145.MuseMenuActive,#u160:hover
{
	background-color: #2EB7D2;
}

#u163
{
	vertical-align: top;
	position: relative;
	background: url("images/u163.png") no-repeat 0px 0px;
}

#u160:hover #u163
{
	background: url("images/u163-r.png") no-repeat 0px 0px;
}

#u160.MuseMenuActive #u163
{
	background: url("images/u163-a.png") no-repeat 0px 0px;
}

#u165
{
	background-color: #FFFFFF;
	position: relative;
}

#u160.MuseMenuActive,#u165:hover
{
	background-color: #2EB7D2;
}

#u167
{
	vertical-align: top;
	position: relative;
	background: url("images/u167.png") no-repeat 0px 0px;
}

#u165:hover #u167
{
	background: url("images/u167-r.png") no-repeat 0px 0px;
}

#u165.MuseMenuActive #u167
{
	background: url("images/u167-a.png") no-repeat 0px 0px;
}

#u100,#u149,#u142,#u157,#u164,#u171
{
	background-color: transparent;
	position: relative;
}

#u174
{
	background-color: #FFFFFF;
	position: relative;
}

#u165.MuseMenuActive,#u174:hover
{
	background-color: #2EB7D2;
}

#u174.MuseMenuActive
{
	background-color: #2EB7D2;
}

#u177
{
	vertical-align: top;
	position: relative;
	background: url("images/u177.png") no-repeat 0px 0px;
}

#u174:hover #u177
{
	background: url("images/u177-r.png") no-repeat 0px 0px;
}

#u174.MuseMenuActive #u177
{
	background: url("images/u177-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

