.version.setting /* version checker */
{
	color: #0000ED;
	background-color: #C3A298;
}

.html
{
	background: #7F7F7F url("../images/bg_desktop.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -82px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu99
{
	width: 0.01px;
	margin-left: -100px;
}

#u99
{
	z-index: 2;
	min-height: 74px;
	padding-bottom: 20px;

	}

#u99_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u100
{
	z-index: 3;
	width: 270px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 26px;
}

#u102-4
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 26px;
	left: 817px;
	width: 139px;
    height: 30px;
    font-family: Segoe UI;
    font-size: 14pt;
    color: #2EB7D2;
    text-align: right;
}

#u103
{
	z-index: 9;
	width: 41px;
	height: 41px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 978px;
}

#u104
{
	z-index: 10;
	width: 41px;
	padding-bottom: 2px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1045px;
}

#u871
{
	z-index: 55;
	width: 14px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 24px;
}

#u872-4
{
	z-index: 56;
	width: 14px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u105
{
	z-index: 11;
	width: 41px;
	height: 41px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1101px;
}

#u99-bw
{
	z-index: 2;
	min-height: 74px;
}

#u106-4
{
	z-index: 12;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1044px;
}

#u107-4
{
	z-index: 16;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1098px;
}

#u134-4
{
	z-index: 20;
	margin-right: -10000px;
	margin-top: 53px;
	left: 956px;
}

#pmenuu141
{
	width: 0.01px;
	margin-left: -47px;
	margin-top: 46px;
}

#menuu141
{
	z-index: 24;
	width: 158px;
	margin-right: -10000px;
	margin-top: 47px;
}

#u149
{
	width: 158px;
}

#u152
{
	width: 158px;
	min-height: 17px;
	padding-bottom: 38px;
	margin-right: -10000px;
}

#u152:hover
{
	width: 158px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u145
{
	width: 158px;
	min-height: 17px;
	padding-bottom: 38px;
	margin-right: -10000px;
}

#u152.MuseMenuActive,#u145:hover
{
	width: 158px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u160
{
	width: 158px;
	min-height: 17px;
	padding-bottom: 38px;
	margin-right: -10000px;
}

#u145.MuseMenuActive,#u160:hover
{
	width: 158px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u165
{
	width: 158px;
	min-height: 17px;
	padding-bottom: 38px;
	margin-right: -10000px;
}

#u160.MuseMenuActive,#u165:hover
{
	width: 158px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u142,#u157,#u164,#u171
{
	width: 158px;
	margin-top: 2px;
}

#u174
{
	width: 158px;
	min-height: 17px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u165.MuseMenuActive,#u174:hover
{
	width: 158px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u174.MuseMenuActive
{
	width: 158px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u153,#u147,#u163,#u167,#u177
{
	height: 17px;
	width: 158px;
	margin-right: -10000px;
	top: 19px;
}

#pu345
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 48px;
	margin-left: 183px;
}

#u345
{
	z-index: 60;
	width: 282px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u336
{
	z-index: 61;
	width: 282px;
	background-color: transparent;
	border-radius: 2px;
	padding-bottom: 56px;
	position: relative;
	margin-right: -10000px;
}

#u341
{
	z-index: 62;
	width: 282px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u337
{
	z-index: 63;
	width: 282px;
	background-color: #2EB7D2;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u337:active
{
	background-color: #2EB7D2;
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u339-4
{
	z-index: 64;
	width: 95px;
	min-height: 33px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u342
{
	z-index: 68;
	width: 282px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#u338
{
	z-index: 69;
	width: 282px;
	background-color: #FFFFFF;
	border-radius: 2px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u340-4
{
	z-index: 70;
	width: 89px;
	min-height: 33px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u373
{
	z-index: 112;
	width: 116px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 180px;
	margin-top: 54px;
	position: relative;
}

#u372
{
	z-index: 74;
	width: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u355
{
	z-index: 75;
	width: 211px;
	background-color: #F7F7F7;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	padding: 27px 19px 29px;
}

#u356-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	position: relative;
}

#u357
{
	z-index: 80;
	width: 210px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u359-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	margin-top: 9px;
	position: relative;
}

#u360
{
	z-index: 85;
	width: 206px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u362-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 10px;
	position: relative;
}

#u363
{
	z-index: 90;
	width: 209px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#u365-4
{
	z-index: 91;
	display: block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 9px;
	position: relative;
}

#u366
{
	z-index: 95;
	width: 209px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#pu370
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 63px;
}

#u370
{
	z-index: 97;
	width: 93px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u368
{
	z-index: 96;
	width: 93px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u645
{
	z-index: 98;
	width: 249px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u343
{
	z-index: 99;
	width: 249px;
	background-color: #F7F7F7;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
}

#u343_position_content
{
	padding-top: 27px;
	padding-bottom: 29px;
}

#u344-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	margin-left: 21px;
	position: relative;
}

#u346
{
	z-index: 104;
	width: 207px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 7px;
	position: relative;
}

#u348-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-left: 21px;
	margin-top: 10px;
	position: relative;
}

#u349
{
	z-index: 109;
	width: 249px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 9px;
	position: relative;
}

#pu353
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 172px;
}

#u353
{
	z-index: 111;
	width: 93px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u351
{
	z-index: 110;
	width: 93px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 82px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}
#u356-4,#u359-4,#u362-4,#u365-4,#u344-4,#u348-4{
color: #2EB7D2;
    font-size: 13px;
    font-family: Segoe UI;
}
